.container {
  overflow-y: auto;
  height: 100vh;
  width: 100%;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  height: 90px;
  padding: 0 10px;
}

.header-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo h3 {
  font-weight: 400;
  padding-right: 30px;
  border-right: 1px solid rgb(219, 218, 218);
}

.circular-image {
  border-radius: 50%;
  background-color: rgb(192, 149, 93);
  padding: 15px;
  margin-right: 10px;
}

.comapny-logo {
  margin-left: 50px;
  height: 70px;
}

.header-filters {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}

header .filter-product{
    border-left: 1px solid  rgb(219, 218, 218);
    padding: 0 20px;
}

.header-filters .filter {
  margin-right: 20px;
  cursor: pointer;
}

.react-icons-arrow-down {
  font-weight: 100;
  vertical-align: middle;
}

main {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 90px;
}

.left-navigation-bar {
  width: 40px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  position: fixed;
  align-items: center;
  justify-content: space-evenly;
}

.left-navigation-bar div {
  margin-top: 40px;
  cursor: pointer;
}

.second-container {
  left: 40px;
  position: absolute;
  border-top-left-radius: 10px;
  flex: 1;
  width: 100%;
  height: 100%;
}

.second-container nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  background-color: rgb(219, 218, 218);
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
}

.second-container nav ul {
  padding: 20px;
}

.second-container nav ul li {
  list-style: none;
  padding: 5px;
  padding-left: 20px;
  font-size: 80%;
  cursor: pointer;
}

.second-container nav ul li:hover {
    font-weight: bold;
}

.second-container nav ul li:active {
    color: rgb(28, 111, 189);
    font-weight: bold;
}

.second-container main {
  position: absolute;
  flex: 1;
  top: 0px;
  left: 180px;
  width: calc(100vw - 238px);
  display: flex;
  flex-direction: column;
}

.report-content {
  border-top-left-radius: 10px;
  border-top: 2px solid rgb(219, 218, 218);
  position: fixed;
  top: 90px;
  background-color: #ffffff;
  width: calc(100vw - 238px);
  z-index: 1;
  height: 25px;
}

.second-container main p {
  padding: 5px;
  position: absolute;
  background-color: #ffffff;
  text-align: justify;
  top: 25px;
}
